<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AdminLTE</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
   
    <script type="text/javascript" src="/base.js">	</script>
</head>
<body>
<div id="co">
<div class="noti">
    <h2 class="whatnow">
        <b>{{'badbrowser.title'|trans}}</b>
    </h2>
    <table class="logos">
        <tr>
        <td class="b bf">
            <a class="l" href="http://www.mozilla.com/firefox/" target="_blank" ><span class="bro">Firefox</span>   
            <span class="vendor">Mozilla Foundation</span></a>
        </td>
        <td class="b bo">
            <a class="l" href="http://www.opera.com/browser/" target="_blank" ><span class="bro">Opera</span>   
            <span class="vendor">Opera Software</span>  </a>
        </td>
        <td class="b bc">
            <a class="l" href="http://www.google.com/chrome?hl=en" target="_blank" ><span class="bro">Chrome</span>   
            <span class="vendor">Google</span>           </a>
        </td>
                <td class="b bi">
            <a class="l" href="http://windows.microsoft.com/en-GB/internet-explorer/downloads/ie" target="_blank" ><span class="bro">Internet Explorer</span>   
            <span class="vendor">Microsoft</span>        </a>
        </td>
        
        </tr>
    </table>
</div>
<div>
    <h2>{{'badbrowser.updatebrowserquestion'|trans}}</h2>
    <div>
            <ul class="advantages">
                    <li class="security" id="security">
                            <h3>{{'badbrowser.securityTitle'|trans}}</h3>
                            <div>{{'badbrowser.securityBody'|trans}}</div>
                    </li>
                    <li class="speed" id="speed">
                            <h3>{{'badbrowser.fastTitle'|trans}}</h3>
                            <div>{{'badbrowser.fastBody'|trans}}</div>
                    </li>
                    <li class="compatibility" id="fun">
                            <h3>{{'badbrowser.compatibilityTitle'|trans}}</h3>
                            <div>{{'badbrowser.compatibilityBody'|trans}}</div>
                    </li>
                    <li class="comfort" id="comfort">
                            <h3>{{'badbrowser.ConfortTitle'|trans}}</h3>
                            <div>{{'badbrowser.ConfortBody'|trans}}</div>
                    </li>
            </ul>
    </div>
    <h2>{{'badbrowser.cantupdateTitle'|trans}}</h2>
    <p>{{'badbrowser.cantupdateBody'|trans}}</p>

</div>

<div class="clear">&nbsp;</div>
<script type="text/javascript" src="//fc.webmasterpro.de/counter.php?name=browserupdate&amp;style=none"></script>
<noscript><div><img src="//fc.webmasterpro.de/as_noscript.php?name=browserupdate" style="width:1px;height:1px;" alt="" /></div></noscript>

</div>
</div>
</body>
</html>
