<!DOCTYPE html>
<html>
<head></head>
<body style="padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5;" bgcolor="#f5f5f5">

    <div class="container">
     

        <div style="
             border: 1px solid #1CC0E9;
            max-width: 100%;
            -webkit-border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            margin: 0 auto 20px;
            background-color: white;
            border: 1px solid #1CC0E9 ;
            padding: 19px 29px 29px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-border-radius: 5px;
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            border-radius: 0px 0px 4px 4px;">
                 <div style="
                      border: 1px solid #1CC0E9;
                      background-color: #f5f5f5; 
                      text-align: center;
                      font-family: 'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;
                      margin-bottom: 1%;
                      " >
   
                          <p style="display: block;
                    font-size: 2em;
                    -webkit-margin-before: 0.67em;
                    -webkit-margin-after: 0.67em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    font-weight: bold;
                    "><a style="text-decoration: none;color: rgb(0, 173, 239);" href="">Test</a></p>
                 </div>
                 <div style="
                      border: 1px solid #1CC0E9;
                      background-color: #f5f5f5; " >
                          

                               <p style="font-size: 14px;
                        margin-left: 25px;
                        color: #444;
                        font-family: 'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';
                        border-collapse: collapse;">
                                     {{ description }}
                                      </p><br>
                                 
                             
                             <a style="font-size: 16px;
                            color: white;
                            border-top: 1px #2270AB solid;
                            width: 40%;
                            border-left: 1px #18639A solid;
                            font-weight: 600;
                            background-color: #33A0E8;
                            border-radius: 3px;
                            border-right: 1px #18639A solid;
                            border-bottom: 1px #0F568B solid;
                            padding: 14px 7px 14px 7px;
                            max-width: 280px;
                            font-family: 'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;
                            text-align: center;background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#37A3EB),to(#2181CF));
                            text-decoration: none;
                            margin: 0px auto 0px auto;
                            display: block;
                            margin-bottom: 1%;" href="{{url}}">
                                    {{'mail.btn'|trans}}
                                    </a>
                                           <p style="font-size: 14px;
                        margin-left: 25px;
                        color: #444;
                        font-family: 'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';
                        border-collapse: collapse;">
                                                  {{'mail.link'|trans}} {{url}}<br>
                         
                                              </p>
                            </p>
                 </div>    
                                
        </div>
      
    
    </div> 

  </body>
</html>
