
<ul class="sidebar-menu">
    <li class="header">{{'menu.label'|trans}}</li>
    <li class="">
    	<a href="#" class="multipleMultiple tooltipster" title="{% include 'QuizmooQuestionnaireBundle:Samples:multiple_choice_multiple_answers.html.twig'%}" >
    		<b class="arabeIcon"><img src="{{asset(('img/spacer.gif'))}}" align="middle" class="checkBoxBT"></b>
    		<span>Multiple Choice Question</span>
    	</a>
    </li>
    
    
    <li class="">
    	<a href="#" class="singleText tooltipster" title="{% include 'QuizmooQuestionnaireBundle:Samples:single_text_box.html.twig'%}">
    		<b class="arabeIcon"><img src="{{asset(('img/spacer.gif'))}}" align="middle" class="single_Line"></b>
    		<span>{{'menu.singleText'|trans}} </span>
    	</a>
    </li>
    <li class="">
    	<a href="#" class="rankingQuestion tooltipster" title="{% include 'QuizmooQuestionnaireBundle:Samples:ranking.html.twig'%}">
    		<b class="arabeIcon"><img src="{{asset(('img/spacer.gif'))}}" align="middle" class="rankingIcon"></b>
    		<span>{{'menu.rankingQuestion'|trans}} </span>
    	</a>
    </li>

</ul>
