{% autoescape %}
<div class='dragbox' id='2720' data-id='481'>
  <h5>   {{'sample.ranking.title' | trans }}    
    <a class='minimize' href='#'></a>
  </h5>
  <div class='dragbox-contentxx'>
    <table class='table'>
      <tbody>
        <tr>
          <td class='thide'></td>
          <th class='thide'>{{'sample.ranking.option1v' | trans }}  </th>
          <th class='thide'>{{'sample.ranking.option2v' | trans }} </th>
          <th class='thide'>{{'sample.ranking.option3v' | trans }} </th>
        </tr>
        <tr>
          <td class='tdmobile'>{{'sample.ranking.option1h' | trans }} </td>
          <td class='rank'><input id='2720' type='radio' name='1' class='ranking' value='15249' required='true' disabled='disabled'></td>
          <td class='rank'><input id='2720' type='radio' name='2' class='ranking' value='15249' required='true' disabled='disabled'></td>
          <td class='rank'><input id='2720' type='radio' name='3' class='ranking' value='15249' required='true' disabled='disabled'></td>
        </tr>
        <tr>
          <td class='tdmobile'>{{'sample.ranking.option2h' | trans }} </td>
          <td class='rank'><input id='2720' type='radio' name='1' class='ranking' value='15250' required='true' disabled='disabled'></td>
          <td class='rank'><input id='2720' type='radio' name='2' class='ranking' value='15250' required='true' disabled='disabled'></td>
          <td class='rank'><input id='2720' type='radio' name='3' class='ranking' value='15250' required='true' disabled='disabled'></td>
        </tr>
        <tr>
          <td class='tdmobile'>{{'sample.ranking.option3h' | trans }} </td>
          <td class='rank'><input id='2720' type='radio' name='1' class='ranking' value='15251' required='true' disabled='disabled'></td>
          <td class='rank'><input id='2720' type='radio' name='2' class='ranking' value='15251' required='true' disabled='disabled'></td>
          <td class='rank'><input id='2720' type='radio' name='3' class='ranking' value='15251' required='true' disabled='disabled'></td>
        </tr>
      </tbody>
    </table>
</div>
{% endautoescape %}