<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen"  />

        <style>
            .colorize {
                background: #eee;
            }
            label.error{
              color: red;
              font-size: small;
            }
            div.well{
              background-color: #fff;
            }
            @media(max-width:767px){

                          td.thide{
                            display: none;
                          }
                          th.thide{
                            display: none;
                          }

                          /* Force table to not be like tables anymore */
                          table, thead, tbody, th, td, tr { 
                            display: block; 
                          }
                          
                          /* Hide table headers (but not display: none;, for accessibility) */
                          thead tr { 
                            position: absolute;
                            top: -9999px;
                            left: -9999px;
                          }
                          
                          tr { border: 1px solid #ccc; }
                          
                          td { 
                            /* Behave  like a "row" */
                            border: none;
                            border-bottom: 1px solid #eee; 
                            position: relative;
                            padding-left: 50%; 
                          }
                          
                          td:before { 
                            /* Now like a table header */
                            /*position: absolute;*/
                            /* Top/left values mimic padding */
                            top: 6px;
                            left: 6px;
                            width: 45%; 
                            padding-right: 10px; 
                            white-space: nowrap;
                          }
                        
                          /*
                          Label the data
                          */
                        
                          td.rank:nth-of-type(2):after { content: "1";font-weight: 100; }
                          td.rank:nth-of-type(3):after { content: "2";font-weight: 100; }
                          td.rank:nth-of-type(4):after { content: "3";font-weight: 100; }
                          td.rank:nth-of-type(5):after { content: "4";font-weight: 100; }
                          td.rank:nth-of-type(6):after { content: "5";font-weight: 100; }
                          td.rank:nth-of-type(7):after { content: "6";font-weight: 100; }
                          td.rank:nth-of-type(8):after { content: "7";font-weight: 100; }
                          td.rank:nth-of-type(9):after { content: "8";font-weight: 100; }
                          td.rank:nth-of-type(10):after { content: "9";font-weight: 100; }
                          td.rank:nth-of-type(11):after { content: "10";font-weight: 100; }

                          td.rate:nth-of-type(2):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(3):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(4):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(5):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(6):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(7):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(8):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(9):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(10):after { content: attr(title);font-weight: 100; }
                          td.rate:nth-of-type(11):after { content: attr(title);font-weight: 100; }

                          td.tdmobile{
                            font-weight: bold;
                          }
            }
            @media(min-width:768px){  
              
            }
            @media(min-width:992px){
              
            }
            @media(min-width:1200px){
              
            }
        </style>
    {% endblock %}
    {% block javascripts %}
      <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/jquery.sortable.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
      <script type="text/javascript">
        $(document).ready(function() {
             /*var $form = $('#freeReport');
             $form.submit(function(){
                $.post($(this).attr('action'), $(this).serialize(), function(response){
                     $('#addFreeUser').modal('hide');
                },'json');
                return false;
             });*/
            // mobile check the entire row
            $('.grp_radio li').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
                if (event.target.type !== 'radio') {
                    $(':radio', this).trigger('click');
                }
            });

            $('.table.ranking tr td.rank').click(function(event) {
                if (event.target.type !== 'radio') {
                    $(':radio', this).trigger('click');
                }
            });

            $('.table.rating tr td.rate').click(function(event) {
                if (event.target.type !== 'radio') {
                    $(':radio', this).trigger('click');
                }
            });
        });
        </script>
        {% endblock %}
        {% javascripts '@QuizmooRespondentBundle/Resources/public/js/validate_respendant.js'%}        
                     <script src="{{ asset_url}}"></script>
        {% endjavascripts %}
    </head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="{{ path('questionnaire_mysurveys') }}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>LT</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{ app.user.username }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                    <p>
                      {{ app.user.username }}
                      <small>{{ app.user.email }}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="pull-left">
                      <a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{ path('fos_user_change_password') }}">Change Pwd</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      
                    </div>
                    <div class="pull-right">
                      <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
        {% endif %}
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p> {{ app.user.username }}</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          {# <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> #}
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Dashboard</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="{{ path('questionnaire_mysurveys') }}"><i class="fa fa-link"></i> <span>{{'layout.survey'|trans}}</span></a></li>
            <li><a href="{{ path('quizmoo_questionnaire_ajouter') }}"><i class="fa fa-link"></i> <span>{{'layout.new_survey'|trans}}</span></a></li>
            {# <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li> #}
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
        {% endif %}
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          {# <h1>
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol> #}
        </section>

        <!-- Main content -->
        <section class="content">  
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
        {% if url is defined %}
          <div class="questionnaire_Link">
              <h4> <p class="text-info" align="center" style="margin-bottom: 2%;">  {{'questionnaire.survey_Link'|trans}}

                  </p> </h4>
              <div class="url">{{ url }}</div> 
          </div>
        {% endif %}
        <div class="questionnaire_preview">
        {% if respondent == 'ANON' %}

        <form method="post" action="{{path('questionnaire_answers',{'questionnaire_id': questionnaire.id ,type:'ANON'} )}}" id="respendant">
        {% else %}
            <form method="post" action="{{path('questionnaire_answers',{'questionnaire_id': questionnaire.id ,'type':'BC' } )}}" id="respendant">
        {% endif %}
        <input type="hidden" id="long" name="longitude" value="">
        <input type="hidden" id="lat" name="latitude" value="">
        <div class="list_questionnaire">
        {% set counter = 0 %}
        {% if questionnaire.questions.count > 0 %}
                        <h4 style="text-align: center;">{{ questionnaire.questionnaireName }}</h4>
                        <div class="pull-right">
                        {% if respondent=='BC' %}
                        <p class="text-primary">{{'number.answers'|trans}} {{nbAnswers}}</p>
                        {% endif %}
                        </div>
                        <br><br>
                        {% if (questionnaire.description is defined) and (questionnaire.description != null)  %}
                           <div style=" line-height: 20px; "><pre style="background-color: white;">{{ questionnaire.description | raw }}</pre></div> <br>
                        {% endif %}
        <input type="hidden" id="locale" value="{{app.getRequest().getLocale()}}">
		    {% for question in questionnaire.questions %}
        {% set counter = counter + 1 %}
          <input type="hidden" value="{{question.id}}" name="questionId[]" />
          <div class="well" span=6>
            <h4>{{ counter }}- {{ question.questionText }} </h4>
                            
    		  {#Multiple Choice Question#}
    		  {% if question.questionType == "Multiple Choice Question" %}
    		  {# here we should make a test on the type of the question in order to render the answer options#}
					<ul class="grp_radio" style="list-style: none;margin-left: -3%;margin-right: -3%">
          {% for key,answer in question.answerOptions %}                 
							 {% if question.isSingle %}
                {% if key==0 %}
                 <li> <input type="radio" id="multipleChoiceRadio" name="selectMultipleChoice{{question.id}}" value="{{answer.id}}" required="true">
							   {{ answer.answerTitle }}
                  </li>
                 {% else %}
                 <li> <input type="radio" id="multipleChoiceRadio" name="selectMultipleChoice{{question.id}}" value="{{answer.id}}" >
							   {{ answer.answerTitle }}
                  </li>
                {% endif %}            
							  {% else %}
                {% if key==0 %}
                <li>
                <input type="checkbox" id="multipleChoiceCheckbox"  name="selectMultipleChoice{{question.id}}[]" value="{{ answer.id }}" required="true">  {{ answer.answerTitle }}
                 </li>
                {% else %}
                <li>
                <input type="checkbox" id="multipleChoiceCheckbox" name="selectMultipleChoice{{question.id}}[]" value="{{ answer.id }}" >  {{ answer.answerTitle }}
                </li>
                {% endif %}
							 {% endif %}
					  {% if not loop.last %} <br> {% endif %}
					  {% endfor %}
          </ul>
		  		  {% if not loop.last %} <br> {% endif %}
		      {% endif %}

    		  {#Single TextBox Question#}
    		  {% if question.questionType == "Single TextBox Question"  %}
    		  <br> <textarea class="form-control" id="textarea{{question.id}}" name="singleTextBoxTextArea{{question.id}}" placeholder="{{'placeholder.answer'|trans}}">-</textarea>
    		  {% if not loop.last %} <br> {% endif %}
    		  {% endif %}

  		   {#Ranking Question#}
         {% if question.questionType == "Ranking Question" %}
          <table class="table ranking">
          <thead>
          <td class='thide'></td>
            {% for i in 1..question.answerOptions.count %}
            <th class='thide'>{{loop.index}}</th>
            {% endfor %}
          <thead>
          <tbody>
            {% for answer in question.answerOptions %}
              <tr>
                <td class="tdmobile">{{ answer.answerTitle }}</td>
                {% for i in 1..question.answerOptions.count %}
                <td class="rank"><input id="{{question.id}}" type="radio" name="{{question.id}}{{loop.index}}" class="ranking ranking{{question.id}}" value="{{answer.id}}" required="true"/></td>
                {% endfor %}
              </tr>
            {% endfor %}
          <tbody>
          </table> 
         <label  id='rankingLbl{{question.id}}' class='rankingLabel' for="rankLBL">                               
          {% if not loop.last %} <br> {% endif %}
          <script type="text/javascript">
          $('.ranking{{question.id}}').click(function() {
              $(this).parent().siblings().children('.ranking{{question.id}}').attr('checked', false);
          });
          </script>
          {% endif %}

       </div>
      {% endfor %}
      {% endif %}
      </div>
         {% if url is defined %} 
          <div class="pull-right">
            <a class="btn btn-primary input-small" style="width: 169px;" href="{{path('send_mail_questionnaire',{'url':url})}}" > {{'questionnaire.send'|trans}} </a>
          </div>
          {% else %}
                {% if (app.getRequest().getLocale() == 'fr' or  app.getRequest().getLocale() == 'en') %}
                 <div class="footerToolbar" 
                        style="padding-left: 36%;">
                {% else %}
                      <div class="footerToolbar" 
                        style="padding-right: 33%;">
                {% endif %}
                   <input class="btn btn-primary" type="submit" value="{{'questionnaire.sendAnswer'|trans}}" style="width: 50%;" /> 
                   <br><br>
           </div>
           {% endif %}
    </form>
   </div>
    </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Admin LTE
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="#">Abed Bilel</a>.</strong> All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
  </body>
</html>                                                 